#!/usr/bin/env bash

#QoL
# alias src='. ~/.bash_profile'
alias src='source ~/.zshrc'
alias d='docker'
alias zshrc='$EDITOR ~/.zshrc'
alias myrc='$EDITOR ~/dotfiles/.myrc'
alias profile='$EDITOR ~/.bash_profile'
alias aliases='$EDITOR ~/dotfiles/.aliases'
alias dotfiles='cd ~/dotfiles'
alias gitconfig='$EDITOR ~/.gitconfig'
alias dc='docker-compose'
alias dn='docker network'
alias y='yarn'
alias tf="CGO_ENABLED=1 AWS_SDK_LOAD_CONFIG=1 terraform"
alias cat="bat"
alias sshconfig='$EDITOR ~/.ssh/config'
alias dev="cd ~/Projects"
alias dka="docker kill -a"
alias tfa="tf apply -lock=false -auto-approve"
alias awsl="aws --profile local"
alias lum="lumigo-cli"
alias m="make"
alias mi="micro"
alias kittyconfig='$EDITOR ~/.config/kitty/kitty.conf'
alias vault="cd ~/vault"
alias sbtd="dev= sbt"
alias ku="kubectl"
alias sm="WORKSPACE='$HOME/work/hmrc' sm"
alias work="cd ~/work"
alias nixconf="$EDITOR /etc/nix/nix.conf"
alias sbtnuke="find . -name target -type d -exec rm -rf {} \;"

# ASCII weather reports
# usage: weather <city>
weather(){ curl http://wttr.in/$1 ; }

# awsp
alias awswho="aws configure list"

#g
alias g="~/.g/g.py"
alias gg="cd ~/.g"

alias n8n="cd ~/n8n"

#git
alias ga="git add -A"
alias gs="git status"
alias gf="git fetch"
alias gd="git diff"
alias gp="git pull"
alias gpr="git pull --rebase"
alias gd1="git diff @~1"
alias gdc="git diff --cached"
alias gpom="git pull origin master"
alias gco="git checkout"
alias gcl="git checkout -"
alias gcm="git checkout main"
alias gcd="git checkout develop"
alias gca="git commit --amend"
alias gcan="git commit --amend --no-edit"
alias gcsan="git commit -S --amend --no-edit"
alias gcra="git commit --amend --reset-author --no-edit"
alias grm="git rebase master"
alias gra="git rebase --abort"
alias grc="git rebase --continue"
alias grmr="git rebase -i master --root"
alias gma="git merge --abort"
alias grob='git reset --hard origin/$(git rev-parse --abbrev-ref HEAD)'
alias grsob='git reset --soft origin/$(git rev-parse --abbrev-ref HEAD)'
alias gpob='git push -u origin $(git rev-parse --abbrev-ref HEAD)'
alias gpfb='git push -u fork $(git rev-parse --abbrev-ref HEAD)'
alias gpobf='git push -u origin $(git rev-parse --abbrev-ref HEAD) --force-with-lease'
alias gpobnv='git push -u origin $(git rev-parse --abbrev-ref HEAD) --no-verify'
alias gpb='git pull origin $(git rev-parse --abbrev-ref HEAD)'
alias gpl="git branch --merged | egrep -v '(^\*|master|dev)' | xargs git branch -d"
alias gl="git lol"
alias gla="git lola"
alias glc="git lolc"
alias gsms="git submodule status"
alias gsmu="git submodule update"
alias gtl="git describe --abbrev=0 --tags"
alias grhh="git reset --hard HEAD"
alias grsh="git reset --soft HEAD"
alias grom="git reset --hard origin/master"
alias gcpa="git cherry-pick --abort"
alias branch="git rev-parse --abbrev-ref HEAD"
alias grp="git rev-parse --short HEAD"
alias gsu="git stash -u"
alias lolr='~/dotfiles/scripts/git/remote_branch_menu.sh'
alias gq='~/dotfiles/scripts/git/git_quick.sh'
alias sbtaliases='$EDITOR ~/.sbt/1.0/global.sbt'

#claude
alias c='claude'
alias cr='claude --resume'
alias ccc='claude --chrome'


# aws
alias awsecrlogin='eval $(aws ecr get-login --no-include-email)'
alias awsconfig='$EDITOR ~/.aws/config'
alias awscreds='$EDITOR ~/.aws/credentials'

port_pid(){
  lsof -n -i4TCP:$1
}

# sbt force garbage collect
sbtgc(){
  local sbt_pids=()
  IFS=$'\n' read -rd '' -A sbt_pids <<< $(ps -A | grep "java.*sbt-launch\.jar" | awk '{print $1}')
  for pid in "$sbt_pids[@]"; do
    if [ "$pid" -ne "" ]; then
      jcmd $pid GC.run
    fi
  done
}

#eza (formerly exa)
#note: this alias is being overriden by oh-my-zsh aliases
alias l="eza -la --git --time-style=long-iso --group-directories-first"
