[include]
	path = ~/vault/git/.gitconfig # git secrets and variable config based on cwd
[core]
	editor = micro
	pager = delta
	excludesfile = ~/dotfiles/.gitignore_global
[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lolb = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	lolc = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lolac = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	lolr = for-each-ref --sort=committerdate refs/remotes/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[color]
	ui = true
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Dracula
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[init]
	templatedir = ~/.git-templates
	defaultBranch = main
[rebase]
	abbreviateCommands = false # if true, rebase-editor won't work
	autosquash = true
[sequence]
	editor = rebase-editor
[status]
	submoduleSummary = true
[diff]
	submodule = log
[url "git@github.com:"]
	insteadOf = https://github.com/
